<div class="container">
  <div class="row">
    <div class="jumbotron jumbotron-fluid bg2">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <p class="lead text-white slide-bottom show">スポーツジムなどで筋トレを行う際に</p>
        <p class="lead text-white mt-5 slide-bottom show">トレーニング内容や重さや回数を記録し管理するためのサイトです。</p>
        <p class="lead text-white mt-5 slide-bottom show">体重など登録していただくことでグラフなどで</p>
        <p class="lead text-white mt-5 slide-bottom show">データを閲覧することができます。</p>
        <p class="lead text-white mt-5 slide-bottom show">また他のユーザのメニューなど参考にトレーニングの質を高められます。</p>
      </div>
    </div>
  </div>
  <div class="row"><h3 class="mx-auto my-5 slide-bottom show text-light">使用方法</h3></div>
  <div class="row d-flex justify-content-around">
    <div class="col-10 col-md-5 aboutmenu1 slide-bottom show"></div>
    <div class="col-10 col-md-5 slide-bottom show text-light">
      <p class="mt-5">初めにマイページのプロフィールを入力して登録してください。</p>
      <p>体重や体脂肪率を入力することで変化を確認できます。</p>
      <p>その後トレーニングメニューを登録してください。</p>
      <p> 登録することでトレーニングの際にご利用いただけます。</p>
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-around mt-5">
    <div class="col-10 col-md-5 slide-bottom show text-light">
      <p class="mt-5">トレーニング内容を確認することでメニューの見直しや</p>
      <p>課題点など見つけることができます</p>
      <p>またトレーニング中の休憩の為に１分タイマー機能がついてるので</p>
      <p>質の高いトレーニングにご活用いただけます</p>
    </div>
    <div class="col-10 col-md-5 aboutmenu2 slide-bottom show"></div>
  </div>
  <div class="row d-flex justify-content-around mt-5">
    <div class="col-10 col-md-5 aboutmenu3 slide-bottom show"></div>
    <div class="col-10 col-md-5 slide-bottom show text-light">
      <p class="mt-5">日々のトレーニングの手助けとして</p>
      <p>ご利用いただいて、目標の体を手に入れるための</p>
      <p>サポートにご活用していただけたら幸いです。</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-right slide-bottom show"><%= link_to 'トップページへ戻る', root_path %></div>
  </div>
  <div class="row">
    <div class="col text-right slide-bottom show"><%= link_to '会員ページへ戻る', home_home_path %></div>
  </div>
</div>