<div class="jumbotron jumbotron-fluid bg1">
  <div class="col-lg-10 col-md-10 col-sm-10">
    <h1 class="display-4 text-white">Power Rain</h1>
    <p class="lead text-white">~ 筋トレ管理 WEB アプリケーション~</p>
    <p class="lead text-white mt-5">Pawer Rain(パワーレイン)は筋肉トレーニング管理のサポートサイトです。</p>
    <p class="lead text-white mt-5">トレーニング内容の登録や体重や体脂肪率を登録し閲覧することができます。</p>
    <p class="lead text-white mt-5">データを参考にしトレーニングライフのサポートとして利用しませんか？</p>
    <p class="lead mt-5">
      <%= link_to "会員の方はこちらからログインしてください", new_user_session_path, class:"btn btn-outline-light" %>
    </p>
    <p class="lead mt-5">
　　　<%= link_to "新規会員登録はこちらから", new_user_registration_path, class:"btn btn-outline-light" %>
    </p>
  </div>
</div>