<div class="header" id="theTarget">
  <div class="image1"></div>
  <div class="image2"></div>
  <div class="image3"></div>
  <div class="image4"></div>
  <div class="image5"></div>
</div>
<div><div class="earth mx-auto my-5 py-5"></div></div>
<div class="jumbotron jumbotron-fluid bg1">
  <div class="col-lg-10 col-md-10 col-sm-10">
    <h1 class="display-4 text-white slide-bottom show">Power Rain</h1>
    <p class="lead text-white slide-bottom show">~ 筋トレ管理 WEB アプリケーション~</p>
    <p class="lead text-white mt-5 slide-bottom show">Pawer Rain(パワーレイン)は筋肉トレーニング管理のサポートサイトです。</p>
    <p class="lead text-white mt-5 slide-bottom show">トレーニング内容、体重や体脂肪率を登録し変化を閲覧することができます。</p>
    <p class="lead text-white mt-5 slide-bottom show">データを参考にしトレーニングライフのサポートとして利用しませんか？</p>
    <div class="slide-bottom show">
      <p class="lead mt-5">
        <%= link_to "会員の方はこちらからログインしてください", new_user_session_path, class:"btn btn-outline-light" %>
      </p>
      <p class="lead mt-5 text-left">
　　　  <%= link_to "新規会員登録はこちらから", new_user_registration_path, class:"btn btn-outline-light" %>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-10 col-md-4 mx-auto slide-bottom show" style="text-align:center; padding-bottom:20px;">
      <div class="card-deck">
        <div class="card pt-4 text-white border-dark mb-3 bg-transparent">
          <h2><i class="fas fa-chart-pie"></i></h2>
            <div class="card-body text">
              <h5 class="card-title mb-5">変化のデータ管理</h4>
              <p>自身の体の情報の登録やトレーニング内容を記録しそれをデータとして管理できます。</p>
              <p>また折れ線グラフによる体の変化やトレーニング内容の変化を可視化できます。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-4 mx-auto slide-bottom show" style="text-align:center; padding-bottom:20px;">
        <div class="card-deck">
          <div class="card pt-4 text-white border-dark mb-3 bg-transparent">
              <h2><i class="fas fa-user-cog"></i></h2>
              <div class="card-body text">
                <h5 class="card-title mb-5">シンプルな機能性</h4>
                <p>使いやすく便利さを重視してシンプルでわかりやすいレイアウトや機能性になっています。</p>
                <p>他の会員のメニューを見ることが出来るためトレーニングの質を高められます。</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-10 col-md-4 mx-auto slide-bottom show" style="text-align:center; padding-bottom:20px;">
        <div class="card-deck">
          <div class="card pt-4 text-white border-dark mb-3 bg-transparent">
              <h2><i class="fas fa-running"></i></h2>
              <div class="card-body text">
                <h4 class="card-title mb-5">サポート機能</h4>
                <p>筋肉トレーニングの際のセット間の休憩に利用できるように１分タイマー機能があります。</p>
                <p>トレーニング内容の記録からタイマーまでトレーニングのサポートいたします。</p>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>