/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// ヘッダーへの背景画像
 .header{
  height: 100vh;
}

.image1 {
  background-image:image-url("C342A69E-8481-4575-8892-60274F29AD22_1_105_c.jpeg");
}
.image2 {
  background-image:image-url("C5D97356-4043-455A-9F41-EAF1E14B0A3B_1_105_c.jpeg");
}
.image3 {
  background-image:image-url("75B0183F-82AC-403F-8AC0-08517A4629A6_1_105_c.jpeg");
}
.image4 {
  background-image:image-url("79189A48-49A8-40FC-BBC7-801F26A05537_1_105_c.jpeg");
}
.image5 {
  background-image:image-url("F14FB694-382F-4C42-978D-4DAA2F6EDACF_1_105_c.jpeg");
}

.top-page-header {
	float: left;
	padding: 3px 0;
}
.top-page-header a {
		display: block;
		 width: 250px;
		 height: 60px;
		font-size: 0;
		background:image-url("D86020E8-4217-4474-953C-75DA8D886567_4_5005_c.jpeg");
		background-size: cover;
		margin: 20px;
	}

.top-page-footer{
  height: 20vh;
  position: relative;
  bottom: 0;
  background-image:image-url("C5D97356-4043-455A-9F41-EAF1E14B0A3B_1_105_c.jpeg");
  background-repeat: no-repeat;
  background-position: center center ;
  background-size: cover;
}

// メインページへの背景画像
.background {
  background-image: image-url("board-3291433_1920.jpg");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
}

// カレンダーの日にちの色を変える
.simple-calendar {
 .day {}
 .wday-0 {
   color: red;
 }
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {}
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
  background-color: #fff;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
  background-color: #fff;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
  background-color: #fff;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar{
  display: block;
  position: relative;
  z-index: 9999;
}

// user画像を丸く
 .image{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.image_show{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

